* {
    padding:0;
    margin: 0px;
    box-sizing: border-box;
}

.header  {
    max-width: 1080px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
    
}
.nav1{
    display: flex;
    text-align: center;
    gap: 40px;
    
}
.nav2 {
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.nav1 ul li{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.nav1 ul{
    display: flex;
    gap: 40px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
     
    font-weight: 400;
    
    
}
.nav1 ul li a{
  text-decoration: none;
  color: black;
}
.nav1 a img{
    height: 40px;
    width: 108px;

}
.nav2 a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
   font-family: sans-serif;
   color: black;
   
}
.nav2 button{
    min-width: 100px;
    height: 30px;
    align-items: center;
    border:none;
    border-radius: 50px;
    background-color:blue;
    border: 1px solid blue;
    color: aliceblue;
    font-size: 10px;
    font-family: inherit;
    padding: 12px 14px;
}
.nav2 button:hover{
    background-color: aquamarine;
    color: rgb(3, 5, 7);
    cursor: pointer;
    scale: 1.2;
    transition: 0.3s;
}

.section1 {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-bottom: 21px; */
}
.section1 h1{
    margin-bottom: 20px;
    width: 790px;
    height: 180px;
    font-size: 72px;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
    /* border: 1px solid black; */

}
.made-simple{
    color: blue;
}
.section1 p{
    width: 603px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    /* border: 1px solid black; */
    font-weight: 500;
    letter-spacing: 0.9px;
    font-size: 18px; 
    text-align: center;

    
}
.div2{
    width: 400px;
    margin: 0 auto;
   display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 20px;
    gap: 40px;
    align-items: center;
    margin-top: 40px;
}


}
.section2{
    display: flex;
    align-items: center;
    

   
}
.nav3{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
}
    
   .div2 button{
    height: 41px;
    width: 154px;
    text-align: center;
    border: none;
    background-color: rgb(5, 7, 8);
    padding: 12px 16px;
    color: aliceblue;
    font-size: 14px;
    font-weight: 500px;
    border-radius: 50px;
    font-family: inherit;
    
   }
   .div2 button:hover{
    cursor: pointer;

   }